{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock title%}


{% block content %}
<h1>Главная страница</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Dolorum quibusdam est amet ullam?</li>
<li>Possimus voluptatem autem assumenda vero.</li>
<li>Ducimus animi ullam id dicta?</li>
<li>Ex error vel officiis quae.</li>
<li>Enim aliquam dolorem odio labore.</li>
<li>Enim accusantium iure cumque officia.</li>
<li>Dignissimos provident quis ducimus voluptates.</li>
<li>Autem at hic accusamus nam!</li>
<li>Amet modi blanditiis ad molestiae?</li>
<li>Blanditiis consequuntur a esse voluptate.</li>
<li>Ipsa similique itaque nobis quod?</li>
<li>Repellendus nobis sapiente omnis totam?</li>
<li>Qui praesentium eius et asperiores.</li>
<li>Iure atque eius doloribus quis?</li>
<li>Numquam amet rerum explicabo impedit.</li>
<li>Non quod id nihil nesciunt.</li>
<li>Soluta error totam praesentium obcaecati!</li>
<li>Minima animi suscipit cupiditate dolores!</li>
<li>Soluta, asperiores. Aut, modi quasi!</li>
<li>Adipisci a eos laboriosam assumenda!</li>
<li>Excepturi exercitationem placeat hic ducimus.</li>
<li>Blanditiis necessitatibus nemo commodi maxime?</li>
<li>Expedita cupiditate placeat sint assumenda?</li>
<li>Culpa, praesentium. Nobis, vero iusto?</li>
<li>Nisi cupiditate repudiandae quia magni.</li>
<li>Ratione vitae quod officia commodi.</li>
<li>Rerum cumque expedita non sapiente!</li>
<li>Sit velit natus nisi et!</li>
<li>Aliquam, pariatur. Est, magni error.</li>
<li>Esse ipsam sed nulla voluptatibus!</li>
<li>Nemo soluta minus dignissimos magnam.</li>
<li>Rerum aut tempora magni facilis.</li>
<li>Numquam illo eius aspernatur dicta?</li>
<li>Quam officia labore architecto illo!</li>
<li>Exercitationem omnis odio nulla beatae.</li>
<li>Ex voluptatem incidunt iusto architecto?</li>
<li>Architecto quae ipsum beatae? Quas.</li>
<li>Corporis temporibus facere assumenda tenetur.</li>
<li>Obcaecati natus cum vel est?</li>
<li>Incidunt, modi exercitationem. Placeat, numquam.</li>
<li>Error dignissimos quis incidunt et?</li>
<li>Quidem optio nisi deleniti architecto.</li>
<li>Alias eligendi architecto rem facere.</li>
<li>Cupiditate magnam distinctio nam iure!</li>
<li>Itaque maiores numquam ipsa odio.</li>
<li>Placeat corrupti facere consequuntur deleniti.</li>
<li>Repellat consectetur et tempore esse?</li>
<li>Eius eaque repellendus laborum sunt.</li>
<li>Aspernatur consectetur earum veritatis eos.</li>
<li>Cumque voluptatem provident amet ea!</li>
<li>Illo corporis in asperiores nesciunt!</li>
<li>Veritatis totam est sunt incidunt.</li>
<li>Doloribus nesciunt quia nisi quos!</li>
<li>Iste atque quidem dicta quam!</li>
<li>Accusantium animi pariatur qui exercitationem!</li>
<li>Labore totam obcaecati numquam voluptatem!</li>
<li>Necessitatibus repellat quos minima et.</li>
<li>Doloremque laudantium sapiente aliquam tenetur.</li>
<li>Beatae placeat animi alias totam!</li>
<li>Deserunt ipsam culpa voluptatem quo.</li>
<li>Ipsa mollitia quam optio voluptate?</li>
<li>Nesciunt repellat eaque minus? Labore!</li>
<li>Quae repudiandae numquam aspernatur corrupti?</li>
<li>Consequatur suscipit voluptate totam nisi?</li>
<li>Iste excepturi adipisci assumenda rerum?</li>
<li>Nulla magni nobis laboriosam molestiae.</li>
<li>Consequuntur harum alias tempora rem!</li>
<li>Consequuntur fugiat quas libero odit.</li>
<li>Quibusdam minima distinctio vel nisi.</li>
{% endblock content %}